<section class="section">
  <div class="container">
    <div class="row {{ 'dirrr' | translate }} sss" style="padding-top: 185px">
      <div
        class="col-lg-6 col-md-12 col-sm-12 dd first_div"
      >
        <p class="text" style="color: #131d50">
          <img src="assets/Images/star.png" style="width: 25px" />
          {{ "join as user" | translate }}
        </p>
        <p class="text">
          سجل بياناتك كسمتخدم للخدمة وقم بصيانة وإصلاح كل شيء لديك مع أمهر وأشهر
          المؤسسات والعمال لدينا في جميع أنحاء المملكة
        </p>

        <p class="text" style="color: #131d50">
          <img src="assets/Images/star.png" style="width: 25px" />
          {{ "join as Supplier" | translate }}
        </p>
        <p class="text">
          سجل بياناتك كمزود خدمة وتابع أعمالك في أي وقت مع ألاف العملاء وطرق
          الدفع المختلفة في جميع أنحاء المملكة
        </p>
      </div>
      <div
        class="col-lg-6 col-md-12 col-sm-12 second_div"
      >
        <img src="assets/Images/ss.gif" class="gif" />
      </div>
    </div>
  </div>
</section>
