<section class="section">
  <div class="row" >
    <div class="col-lg-6 col-md-12 col-sm-12 text-center">
      <h1 class="text">{{ "DownloadApp" | translate }}</h1>
      <p class="text">
        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
        النص من مولد النص العربى، هذا النص هو مثال لنص يمكن أن يستبدل في نفس
        المساحة، لقد تم توليد هذا النص من مولد النص العربى،
      </p>
      <div>
        <a routerLink="/home" rel="noopener noreferrer"><img src="assets/Images/appStore.png" class="store" /></a>
        <a routerLink="/home" rel="noopener noreferrer"><img src="assets/Images/googlePlay.png"class="store" /></a>
        
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 text-center">
        <img src="assets/Images/orderDetailes.png" class="order"/>
        <img src="assets/Images/orderDetailes.png" class="order1"/>
    </div>
  </div>
</section>
