<section class="section">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="title">{{'App Pages' | translate}}</h3>
            <!-- <h1 class="text">{{ "About Us Desc" | translate }}</h1> -->
            <p class="text">
                هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
                النص من مولد النص العربى، هذا النص هو مثال لنص يمكن أن يستبدل في نفس
                المساحة، لقد تم توليد هذا النص من مولد النص العربى،
                هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
            النص من مولد النص العربى، هذا النص هو مثال لنص يمكن أن يستبدل في نفس
            المساحة، لقد تم توليد هذا النص من مولد النص العربى،
            </p>
            <img src="assets/Images/appPage.png" />
        </div>
    </div>
  </section>