<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
          <h3 class="title">مميزاتنا</h3>
          <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.</p>
      </div>
    </div>
    <div class="row" style="padding-top: 50px;justify-content: center;">
        <div class="col-lg-4 col-md-6 col-8 text-center">
            <div class="card">
                <div class="image">
                    <img src="assets/Images/hand.png" alt="">
                </div>
                <p class="title">
                    سهولة الأستخدام
                </p>
                <p class="desc">
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،
                </p>
            </div> 
           
        </div>
        <div class="col-lg-4 col-md-6 col-8 text-center">
            <div class="card">
                <div class="image">
                    <img src="assets/Images/setting.png" alt="">
                </div>
                <p class="title">
                    كل الخدمات متاحة
                </p>
                <p class="desc">
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،
                </p>
            </div> 
        </div>
        <div class="col-lg-4 col-md-6 col-8 text-center">
            <div class="card">
                <div class="image">
                    <img src="assets/Images/hours.png" alt="">
                </div>
                <p class="title">
                    دعم فني 24 ساعة
                </p>
                <p class="desc">
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،
                </p>
            </div> 
        </div>
    </div>
  </div>
</section>
